@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Public Sans", sans-serif;
    color: hsl(233, 26%, 24%);
    line-height: 1.6;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    margin: 10px 0;
    color: hsl(233, 8%, 62%);
}

.container {
    /* outline: 1px solid blue; */
    margin: 0 auto;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header {
    background-color: white;
    width: 100vw;
}

.myheader .flex {
    justify-content: space-between;
    padding: 25px 5%;
}

.myheader .app-logo {
    text-align: center;
}
.myheader .menu ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.menu li a {
    margin-left: 25px;
    padding: 3px;
    color: hsl(233, 8%, 62%);
}

.menu li a:hover {
    border-bottom: 3px solid hsl(136, 65%, 51%);
    border-radius: 2px;
    padding-bottom: 10px;
}

.btn-outline {
    border-radius: 40px;
    padding: 15px 40px;
    margin: 15px 0;
    font-weight: 400;
    color: white;
    background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );
}

.btn-outline:hover {
    cursor: pointer;
    opacity: 0.8;
}

#htb {
    display: none;
}

.modal {
    display: none;
}

/* showcase */

.showcase > .container {
    height: 100%;
    background-color: hsl(0, 0%, 98%);
    justify-content: space-between;
    overflow-y: hidden;
}

.showcase-text {
    flex-direction: column;
    flex-basis: 30%;
    align-items: flex-start;
    padding: 0 10px;
    margin: 0 5%;
}

.showcase-text p {
    margin: 2em 0;
}

.showcase-image {
    background: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5px -90px;
    overflow: hidden;
}

.mockup-img {
    transform: translate(130px, -50px);
}

/* features */

.features.container {
    flex-direction: column;
    background-color: hsl(220, 16%, 96%);
    padding: 5% 0;
    align-items: flex-start;
}

.features-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0 5%;
}

.features-content {
    margin: 4em 5%;
    margin-bottom: 2em;
    gap: 1.5em;
}

.features-content > .card.container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.card > img {
    padding: 20px 0;
}
.card > h3 {
    padding: 10px 0;
}

.articles > .container {
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    padding: 5% 0;
    align-items: flex-start;
}

.articles-text {
    margin: 0 5%;
}

.articles-content {
    margin: 4em 5%;
    margin-bottom: 2em;
    gap: 2em;
}

.articles-content .article.container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.articles-content > .article {
    background: white;
    border-radius: 5px;
}

.article > img {
    width: 100%;
    height: 15em;
    padding-bottom: 1em;
}

.article > h4 {
    color: hsl(233, 8%, 62%);
    margin: 0 2rem;
    margin-top: 1em;
    font-size: 15px;
}

.article > h3 {
    width: 70%;
    font-size: 20px;
    font-weight: 300;
    margin: 1rem 2rem;
}

.article > p {
    width: 80%;
    margin: 0 2rem;
    margin-bottom: 1em;
}

/* footer */
footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
}

.myfooter {
    justify-content: space-between;
    flex-basis: 50%;
    margin: 1em 0;
}

.footer-images {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.myfooter .logo-img {
    padding-bottom: 20px;
}

.social_link_list li {
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
}

.social_link_list li a:hover {
    filter: invert(49%) sepia(60%) saturate(945%) hue-rotate(153deg)
        brightness(91%) contrast(103%);
}

.ft-nav-1 li,
.ft-nav-2 li {
    margin: 10px 0;
}

.ft-nav-1 li a,
.ft-nav-2 li a {
    color: hsl(220, 16%, 96%);
    font-size: 1rem;
}

.myfooter ul li a:hover {
    color: hsl(192, 70%, 51%);
}

.footer-notes {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 1em 0;
}

.footer-notes h5 {
    color: hsl(233, 8%, 62%);
    margin-top: 10px;
}

/* mobile view */

@media screen and (max-width: 900px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .myheader .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    header .button {
        display: none;
    }

    #htb {
        display: block;
    }

    .header__toggle-btn {
        height: 2em;
        width: 3em;
        border: none;
        cursor: pointer;
    }

    .header__toggle-btn--hamburger {
        background: url("images/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .header__toggle-btn--x {
        background: url("images/icon-close.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .modal {
        width: 100vw;
        height: 90vh;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background: linear-gradient(
            to bottom,
            hsl(233, 26%, 24%, 0.5),
            rgba(219, 221, 243, 0.5)
        );
    }

    .modal--inactive {
        display: none;
    }

    .modal-nav {
        width: 90%;
        height: 250px;
        border-radius: 5px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 5% 0;
    }

    .modal-nav__list {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /* showcase */

    .showcase > .container {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .showcase-text.container {
        align-items: center;
        text-align: center;
        margin-bottom: 4em;
    }

    .showcase-image {
        background: none;
        background: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -20px 0px;
    }

    .mockup-img {
        all: unset;
        width: 100%;
        transform: translateY(-10rem);
    }

    /* features */

    .features.container {
        align-items: center;
        width: 100vw;
    }

    .features-text {
        min-width: 75%;
        text-align: center;
    }

    .features-content > .card.container {
        align-items: center;
    }

    .features-content div p {
        text-align: center;
    }

    /* articles */

    .articles-text {
        align-self: center;
    }

    /* footer */

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .ft-nav-1,
    .ft-nav-2 {
        text-align: center;
    }

    .ft-nav-1 li,
    .ft-nav-2 li {
        margin: 20px 0;
    }

    .ft-nav-2 {
        margin-top: -20px;
    }

    .footer-notes {
        justify-content: center;
        align-items: center;
    }

    .footer-notes h4 {
        font-size: 20px;
    }
}
